@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-purple: #8a5df4;
  --color-purple-28: hsl(264, 58%, 16%);
  --color-dark: #010101;
  --color-gray-900: #161616;
  --color-gray-800: #2c2c2c;
  --color-gray-700: #3f3f3f;
  --color-white: #fff;

  --color-background: hsl(224, 71.4%, 4.1%);
  --color-foreground: hsl(210, 20%, 98%);
  --color-card: hsl(224, 71.4%, 4.1%);
  --color-card-foreground: hsl(210, 20%, 98%);
  --color-popover: hsl(224, 71.4%, 4.1%);
  --color-popover-foreground: hsl(210, 20%, 98%);
  --color-primary: hsl(263.4, 70%, 50.4%);
  --color-primary-foreground: hsl(210, 20%, 98%);
  --color-secondary: hsl(215, 27.9%, 16.9%);
  --color-secondary-foreground: hsl(210, 20%, 98%);
  --color-muted: hsl(215, 27.9%, 16.9%);
  --color-muted-foreground: hsl(217.9, 10.6%, 64.9%);
  --color-accent: hsl(215, 27.9%, 16.9%);
  --color-accent-foreground: hsl(210, 20%, 98%);
  --color-destructive: hsl(0, 62.8%, 30.6%);
  --color-destructive-foreground: hsl(210, 20%, 98%);
  --color-border: hsl(215, 27.9%, 16.9%);
  --color-input: hsl(215, 27.9%, 16.9%);
  --color-ring: hsl(263.4, 70%, 50.4%);
  --color-current: currentColor;

  --font-*: initial;
  --font-sans: Kanit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

  --radius-primary: 0.5rem;
}

:root {
  --body-bg: var(--color-dark);
  --font-stack-secondary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-stack-primary: Kanit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

html {
  font-family: var(--font-stack-secondary) !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: white;
  background: var(--body-bg);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
}

canvas {
  outline: none !important;
}

input[type='range'] {
  background: var(--color-primary-28);
  accent-color: white !important;
}

label {
  display: inline-block;
}

input {
  margin: 0 auto;
  font-family: var(--font-stack-secondary);
}

input[type='radio'].btn {
  display: none;
}

label:has(input[type='radio']) {
  background: var(--color-primary-28);
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
}

a {
  color: var(--color-primary-light);
  text-decoration: underline;
  text-decoration: underline wavy;
}

.text-muted a {
  color: var(--color-primary-light-muted);
}

a:hover {
  text-decoration: underline;
  text-decoration: underline wavy;
}

button {
  @apply cursor-pointer;
}

.h1 {
  @apply text-5xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h2 {
  @apply text-4xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h3 {
  @apply text-3xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.p {
  @apply text-base;
  font-family: var(--font-stack-secondary);
  text-rendering: optimizeLegibility;
}

.auto-flow-big > * + * {
  margin-top: clamp(3rem, 8vh, 5.75rem);
}

.auto-flow-small > * + * {
  margin-top: 0.5rem;
}

.glow {
  box-shadow: var(--color-primary-40) 0px 0px 1.5em;
}

.glow:hover {
  box-shadow: var(--color-primary-60) 0px 0px 2em;
}

strong {
  color: hsl(263, 86%, 61%);
}

.invisiblyat {
  opacity: 0;
  pointer-events: none;
}

[tooltip] {
  position: relative;
}

[tooltip]::after {
  content: attr(tooltip);
  @apply pointer-events-none absolute left-1/2 top-full w-max -translate-x-1/2 transform rounded-sm px-2 py-2 text-sm text-white opacity-0;
}

[tooltip]:hover::after {
  @apply opacity-100;
}

[tooltip-primary]::after {
  @apply text-primary;
}

[tooltip-position='left']::after {
  transform: translate(calc(-100% - 1rem), -1rem);
  @apply left-0 top-1/2;
}

[tooltip-position='right']::after {
  @apply left-full top-1/2 -translate-y-4 translate-x-2 transform;
}

[tooltip-position='top']::after {
  @apply bottom-full left-1/2 top-auto -translate-x-1/2 -translate-y-4 transform;
}

[tooltip-position='bottom']::after {
  @apply left-1/2 top-full -translate-x-1/2 transform;
}

[prevent-user-select] {
  @apply select-none;
}

.h-screen {
  height: 100lvh;
}

@supports (scrollbar-color: var(--color-primary) var(--color-dark)) {
  * {
    scrollbar-color: var(--color-primary) var(--color-dark);
    scrollbar-width: auto;
  }
}

::-webkit-scrollbar {
  @apply h-2 w-2 rounded-sm;
}

::-webkit-scrollbar-track {
  @apply rounded-sm bg-purple-28;
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-white;
}
