@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-muted: hsla(0, 0%, 100%, 0.33);
  --color-primary-light: hsl(263, 100%, 72%);
  --color-primary-light-muted: hsla(263, 100%, 72%, 0.75);
  --color-primary: hsl(263, 100%, 58%);
  --color-light-dark: var(--color-primary);
  --color-primary-60: hsla(263, 100%, 58%, 0.6);
  --color-primary-40: hsla(263, 100%, 58%, 0.4);
  --color-primary-28: hsla(263, 100%, 58%, 0.22);
  --color-primary-28-opaque: hsl(264, 58%, 16%);
  --color-primary-34: hsla(263, 100%, 58%, 0.26);
  --color-dark: rgb(1, 1, 1);

  --body-bg: var(--color-dark);
  --border-color: var(--color-muted);
  --font-stack-secondary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-stack-primary: Kanit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --border-radius: 0.5em;
}

html {
  font-family: var(--font-stack-secondary) !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: white;
  background: var(--body-bg);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

canvas {
  outline: none !important;
}

input[type='range'] {
  background: var(--color-primary-28);
  accent-color: white !important;
}

label {
  display: inline-block;
}

input {
  display: block;
  margin: 0 auto;
  font-family: var(--font-stack-secondary);
}

input[type='radio'].btn {
  display: none;
}

label:has(input[type='radio']) {
  background: var(--color-primary-28);
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
}

svg {
  width: var(--icon-size, 24px) !important;
  height: var(--icon-size, 24px) !important;
  fill: var(--icon-fill, white) !important;
}

a {
  color: var(--color-primary-light);
  text-decoration: underline;
  text-decoration: underline wavy;
}

.text-muted a {
  color: var(--color-primary-light-muted);
}

a:hover {
  text-decoration: underline;
  text-decoration: underline wavy;
}

.h1 {
  @apply text-5xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h2 {
  @apply text-4xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h3 {
  @apply text-3xl;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.p {
  @apply text-base;
  font-family: var(--font-stack-secondary);
  text-rendering: optimizeLegibility;
}

.text-muted {
  --icon-fill: var(--color-muted);
}

.auto-flow-big > * + * {
  margin-top: clamp(3rem, 8vh, 5.75rem);
}

.auto-flow-small > * + * {
  margin-top: 0.5rem;
}

.glow {
  box-shadow: var(--color-primary-40) 0px 0px 1.5em;
}

.glow:hover {
  box-shadow: var(--color-primary-60) 0px 0px 2em;
}

.invisiblyat {
  opacity: 0;
  pointer-events: none;
}

[tooltip] {
  position: relative;
}

[tooltip]::after {
  content: attr(tooltip);
  @apply pointer-events-none absolute left-1/2 top-full w-max -translate-x-1/2 transform rounded px-4 py-2 text-sm text-muted opacity-0;
}

[tooltip]:hover::after {
  @apply opacity-100;
}

[tooltip-position='left']::after {
  transform: translate(calc(-100% - 1rem), -1rem);
  @apply left-0 top-1/2;
}

[tooltip-position='right']::after {
  @apply left-full top-1/2 -translate-y-4 translate-x-2 transform;
}

[tooltip-position='top']::after {
  @apply bottom-full left-1/2 top-auto -translate-x-1/2 -translate-y-4 transform;
}

[tooltip-position='bottom']::after {
  @apply left-1/2 top-full -translate-x-1/2 transform;
}

[prevent-user-select] {
  @apply select-none;
}

.h-screen {
  height: 100lvh;
}

@supports (scrollbar-color: var(--color-primary) var(--color-dark)) {
  * {
    scrollbar-color: var(--color-primary) var(--color-dark);
    scrollbar-width: auto;
  }
}

::-webkit-scrollbar {
  @apply h-2 w-2 rounded;
}

::-webkit-scrollbar-track {
  @apply rounded bg-purple-28;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-white;
}
