@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-muted: hsla(0, 0%, 100%, 0.33);
  --color-primary: hsl(263, 81%, 58%);
  --color-light-dark: var(--color-primary);
  --color-primary-60: hsla(263, 81%, 58%, 0.6);
  --color-primary-40: hsla(263, 81%, 58%, 0.4);
  --color-primary-28: hsla(263, 81%, 58%, 0.22);
  --color-primary-28-opaque: hsl(264, 58%, 16%);
  --color-primary-34: hsla(263, 81%, 58%, 0.26);
  --color-orange: hsl(22, 81%, 55%);
  --color-orange-muted: hsla(22, 81%, 55%, 0.75);
  --color-dark: rgb(1, 1, 1);

  --body-bg: var(--color-dark);
  --border-color: var(--color-muted);
  --font-stack-secondary: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-stack-primary: Kanit, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --border-radius: 0.5em;
}

html {
  font-family: var(--font-stack-secondary) !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: white;
  background: var(--body-bg);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

canvas {
  outline: none !important;
}

input[type='range'] {
  background: var(--color-primary-28);
  accent-color: white !important;
}

label {
  display: inline-block;
}

input {
  display: block;
  margin: 0 auto;
  font-family: var(--font-stack-secondary);
}

input[type='radio'].btn {
  display: none;
}

label:has(input[type='radio']) {
  background: var(--color-primary-28);
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
}

svg {
  width: var(--icon-size, 24px) !important;
  height: var(--icon-size, 24px) !important;
  fill: var(--icon-fill, white) !important;
}

a {
  color: var(--color-orange);
  text-decoration: none;
}

.muted-text a {
  color: var(--color-orange-muted);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: underline wavy;
}

.h1 {
  font-size: 3.052rem;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h2 {
  font-size: 2.441rem;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.h3 {
  font-size: 1.953rem;
  font-family: var(--font-stack-primary);
  text-rendering: geometricPrecision;
}

.p {
  font-size: 1rem;
  font-family: var(--font-stack-secondary);
  text-rendering: geometricPrecision;
}

.muted-text {
  color: var(--color-muted);
  --icon-fill: var(--color-muted);
}

.bg-primary {
  background: var(--color-primary);
}

.auto-flow-big > * + * {
  margin-top: clamp(3rem, 8vh, 5.75rem);
}

.auto-flow-small > * + * {
  margin-top: 1rem;
}

.container {
  margin: 0 auto;
}

.glow {
  box-shadow: var(--color-primary-40) 0px 0px 1.5em;
}

.glow:hover {
  box-shadow: var(--color-primary-60) 0px 0px 2em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  border-radius: 0.5em;
  line-height: 1.5em;
  font-size: 0.875em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  transition: background-color 0.2s ease-in-out;
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s ease-in-out;
}

.btn-secondary {
  background-color: var(--color-primary-28);
  box-shadow: none;
  color: white;
  fill: currentColor;
}

.btn-secondary:hover {
  box-shadow: none;
  color: white;
  background-color: var(--color-primary-34);
}

[class*='rotate-'] {
  transform-origin: bottom bottom;
  transform: rotate(var(--tw-rotate, 0deg));
}

p {
  line-height: 2;
}

[tooltip] {
  position: relative;
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color-muted);
  pointer-events: none;
  width: max-content;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

[tooltip]:hover::after {
  opacity: 1;
}

[tooltip-position='left']::after {
  transform: translate(calc(-100% - 1rem), -1rem);
  top: 50%;
  left: 0;
}

[tooltip-position='right']::after {
  transform: translate(0.5rem, -1rem);
  top: 50%;
  left: 100%;
}

[tooltip-position='top']::after {
  transform: translate(-50%, -1rem);
  top: auto;
  bottom: 100%;
  left: 50%;
}

[tooltip-position='bottom']::after {
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
}

[prevent-user-select] {
  user-select: none;
}

@supports (scrollbar-color: white var(--color-primary-28)) {
  * {
    scrollbar-color: white var(--color-primary-28);
    scrollbar-width: auto;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-28);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.5rem;
}
